<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>biblionetProject</display-name>
  <welcome-file-list>
  
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>Admin.jsp</welcome-file>
    <welcome-file>addAuthor.jsp</welcome-file>
     <welcome-file>addBook.jsp</welcome-file>
      <welcome-file>searchForm.jsp</welcome-file>
    <welcome-file>searchR.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
 <servlet-name>login</servlet-name>
 <servlet-class>mvc.controller.login</servlet-class>
 </servlet>
 
  <servlet>
 <servlet-name>adminServlet</servlet-name>
 <servlet-class>mvc.controller.adminServlet</servlet-class> 
 </servlet>
 
 <servlet>
 <servlet-name>logout</servlet-name>
 <servlet-class>mvc.controller.logout</servlet-class>
 </servlet>
  
   <servlet>
 <servlet-name>Author</servlet-name>
 <servlet-class>mvc.controller.Author</servlet-class>
 </servlet>
 
   <servlet>
 <servlet-name>Book</servlet-name>
 <servlet-class>mvc.controller.Book</servlet-class>
 </servlet> 
 
    <servlet>
 <servlet-name>search</servlet-name>
 <servlet-class>mvc.controller.search</servlet-class>
 </servlet> 
 
 
</web-app>